<style>
    .popup {
        height: 50px;
        position: relative;
        width: 50px;
    }

        .popup .center {
            margin: 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
</style>

<div class="popup">
    <p class="center"><i class="fas fa-circle-notch fa-2x fa-spin"></i></p>
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance BlazoredModal { get; set; }
}